/*类别开始*/
.category {
    width: 1120px;
    margin: 0 auto;
    padding: 0 0 100px;
}

.category .hot-house {
    padding: 140px 0 100px;
}

.category .hot-house .separator {
    margin: 18px auto 0;
}

.category .category-title {
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 100px;
}

.category .category-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.category .category-list li {
    display: inline-block;
    width: 246px;
    height: 328px;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    margin-right: 20px;
}

.category .category-list img {
    width: 100%;
}

.category .category-list h3 {
    font-size: 28px;
    color: #fff;
}

.category .category-list p {
    font-size: 20px;
    color: #fff;
    line-height: 28px;
    text-shadow: 0 2px 10px #000000;
}

.category .category-item .title {
    position: absolute;
    top: 220px;
    padding: 0 20px;
    text-align: left;
}

.category .more {
    margin-top: 100px;
}

/*类别响应式样式*/
@media (max-width: 768px) {
    .category {
        width: auto;
        padding: 0 0.24rem;
    }

    .category .category-title {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 0.36rem;
    }

    .category .category-list li {
        width: 43.3333333%;
        height: 50%;
        margin-right: 2.6666666%;
        margin-bottom: 0.2rem;
    }

    .category .category-list li:nth-child(2n) {
        margin-right: 0;
    }

    .category .category-list h3 {
        font-size: 0.28rem;
    }

    .category .category-list p {
        font-size: .28rem;
        line-height: .32rem;
    }

    .category .category-item .title {
        top: 2.85rem;
        padding: 0 .2rem;
    }
}

/*类别结束*/
/*精选房源开始*/
.hot-house {
    padding: 135px 0 140px;
    position: relative;
}

#hot-house-m {
    display: none;
}

.hot-house .separator {
    width: 50px;
    height: 2px;
    background: #F6A623;
    margin: 18px auto;
}

.hot-house h1 {
    color: #000;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.hot-house h3 {
    color: #222222;
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
    line-height: 40px;
}

.hot-house ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hot-house .house-list {
    width: 1050px;
    margin: 100px auto 60px;
}

.house {
    /* -webkit-box-shadow: 0 2px 10px #DFDFDF;
     -moz-box-shadow:  0 2px 10px #DFDFDF;
     box-shadow:  0 2px 10px #DFDFDF;*/
}

.house img {
    width: 100%;
}

.house .house-wrap {
    -webkit-box-shadow: 0 2px 10px #DFDFDF;
    -moz-box-shadow: 0 2px 10px #DFDFDF;
    box-shadow: 0 2px 10px #DFDFDF;
    min-height: 387px;
}

.house .house-info-wrap {
    background: #fff;
    padding: 22px 22px 4px;
}

.house .house-area {
    color: #6c6c6c;
    font-size: 12px;
    margin: 0;
}

.house .house-title {
    color: #222;
    font-size: 20px;
    line-height: 20px;
    padding: 22px 0;
    margin: 0;
}

.house .house-content {
    color: #4A4A4A;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
}

.house .other-info {
    /*border-top: 1px solid #F6F8FA;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;*/
}

.house .other-info li {
    /*-webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;*/
    float: left;
    margin-right: 20px;
    /*border-right: 1px solid #F6F8FA;*/
}

.house .other-info li:last-child {
    border-right: none;
}

.house .other-info .title {
    color: #95989A;
    font-size: 12px;
}

.house .other-info .desc {
    color: #F6A623;
    font-size: 14px;
}

.more {
    margin-top: 60px;
    text-align: center;
}

.more a {
    display: inline-block;
    border: 1px solid #F6A623;
    width: 188px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    color: #F6A623;
    font-size: 15px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.more a:hover {
    color: #fff;
    background-color: #F6A623;
    text-decoration: none;
}

/*精选房源响应式样式*/
@media (max-width: 768px) {
    .hot-house, .category .hot-house {
        padding: 1.4rem 0 1rem;
    }

    .hot-house h1 {
        color: rgba(0, 0, 0, 0.87);
        font-size: 0.36rem;
    }

    .hot-house h3 {
        display: none;
    }

    .hot-house .house-list {
        width: 6.7rem;
        margin: 1rem auto;
    }

    .house .house-wrap {
        min-height: 7.95rem;
    }

    .hot-house .house {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0.4rem;
    }

    .swiper-pagination {
        bottom: 1.5rem !important;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .swiper-pagination-bullet {
        margin-right: 5px;
        background: rgba(0, 0, 0, 0.54);
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: #DFDFDF;
    }

    .category .more {
        margin-top: .9rem;
    }

    .more a {
        width: 2.4rem;
        height: 0.64rem;
        line-height: 0.64rem;
        font-size: 0.24rem;
        color: #F6A623;
    }
}

/*精选房源结束*/
/*推荐房源开始*/
.recommend-video {
    position: relative;
}

.video-bg {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.icon-play {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    cursor: pointer;
    z-index: 2;
}

#recommend-video {
    width: 100%;
    height: 100%;
}

/*推荐房源响应式样式*/
@media (max-width: 768px) {
    .icon-play {
        width: 1rem;
        height: 1rem;
        margin-left: -0.5rem;
        margin-top: -0.5rem;
    }
}

/*推荐房源结束*/

.old-house {
    height: 640px;
    position: relative;
}

.old-house img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.old-house .old-house-wrap {
    position: absolute;
    top: 200px;
    left: 130px;
}

.old-house h1 {
    width: 100%;
    font-size: 52px;
    line-height: 52px;
    color: #fff;
    /*margin-bottom: 50px;*/
}

.old-house h3 {
    width: 519px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 100;
    color: #fff;
    margin-bottom: 50px;
}

.old-house p {
    font-size: 14px;
    color: #fff;
}

.old-house .show-detail {
    display: inline-block;
    font-size: 18px;
    width: 138px;
    height: 48px;
    line-height: 48px;
    background: #F6A623;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .old-house {
        height: auto;
        overflow: hidden;
    }

    .old-house img {
        position: static;
        /*width: 7.5rem;*/
        height: 6.40rem;
    }

    .old-house .old-house-wrap {
        top: 0.86rem;
        left: 0.8rem;
    }

    .old-house h1 {
        font-size: 0.72rem;
        margin-bottom: 0.3rem;
    }

    .old-house h3 {
        width: 5.19rem;
        font-size: 0.28rem;
        margin-bottom: 0.3rem;
        line-height: .44rem;
    }

    .old-house p {
        font-size: 0.14rem;
        color: #fff;
    }

    .old-house .show-detail {
        font-size: 0.2rem;
        width: 1.74rem;
        height: 0.64rem;
        line-height: 0.64rem;
        text-align: center;
        margin-bottom: 0;

    }

    #boutique-house .house-title {
        color: #4A4A4A;
        font-size: .36rem;
    }

    #boutique-house .container {
        padding: 0;
    }

    .house .house-area {
        font-size: .24rem;
        line-height: .24rem;
    }

    .house .house-title {
        color: #4A4A4A;
        font-size: .36rem;
        line-height: .36rem;
    }
}

/*广告推荐视频占位*/
#video {
    text-align: center;
    margin: 0 auto;
    width: 1020px;
    height: 574px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #video {
        width: 7.5rem;
        height: auto;
        /*height: 5.74rem;*/
    }

    #video img {
        width: 100%;
    }
}

/*视频弹层*/
.video_playwrap {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 2000;
    background: url(../img/logo.png) center center no-repeat #000
}

.video_playwrap video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.video_playwrap .close {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 44px;
    height: 44px;
    text-align: center;
    z-index: 9999;
    cursor: pointer;
    border: 0;
    background: url(../img/icon_close.png) center center no-repeat
}

/*联系我们*/
.contact {
    background-color: #F2F2F2;
    padding-bottom: 38px;
}

.contact .hot-house {
    padding: 100px 0;
}

.contact .hot-house .separator {
    margin: 18px auto 0;
}

.contact .contact_con {
    margin: 0 auto;
    width: 1020px;
    height: 385px;
    background-color: #F2F2F2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 60px 50px;
}

.contact .contact_con .con_left {
    width: 50%;
    height: 100%;
    float: left;
}

.contact .contact_con .con_left .con_title {
    margin: 0;
    padding: 0;
    color: #000;
    line-height: 20px;
    font-size: 20px;
    font-weight: 500;
}

.contact .contact_con .con_left .con_text {
    width: 290px;
    color: #4A4A4A;
    font-size: 14px;
    line-height: 20px;
    margin-top: 23px;
}

.contact .contact_con .con_left .line {
    margin-top: 70px;
    width: 60px;
    height: 2px;
    border-radius: 1px;
    background-color: #000;
}

.contact .contact_con .con_right {
    width: 50%;
    height: 100%;
    float: right;
    padding-left: 82px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contact .contact_con .con_right .con_title {
    font-size: 14px;
    line-height: 14px;
    margin: 8px 0 0 0;
    font-weight: 700;
    color: #000;
}

.contact .contact_con .con_right .con_tel {
    font-size: 36px;
    line-height: 36px;
    color: #000;
    text-decoration: none;
    margin: 19px 0 10px;
    display: block;
    font-weight: 300;
}

.contact .contact_con .con_right .con_time {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    color: #4A4A4A;
}

.contact .contact_con .con_right .con_text_title {
    font-size: 14px;
    line-height: 14px;
    margin: 20px 0 8px;
    font-weight: 700;
    color: #000;
}

.contact .contact_con .con_right .con_text {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    color: #4A4A4A;
}

@media (max-width: 768px) {
    .contact {
        margin: 1.4rem 0 0;
        padding-bottom: 0;
    }

    .contact .hot-house {
        padding: 1rem 0 0;
    }

    .contact .contact_con {
        width: 100%;
        height: auto;
        min-height: 7.65rem;
        padding: .5rem .4rem;
    }

    .contact .contact_con .con_left {
        width: 100%;
        height: auto;
        float: none;
    }

    .contact .contact_con .con_left .con_title {
        line-height: .24rem;
        font-size: .24rem;
        font-weight: 700;
        text-align: center;
    }

    .contact .contact_con .con_left .con_text {
        width: 6.7rem;
        text-align: center;
        font-size: .2rem;
        line-height: .32rem;
        margin-top: .2rem;
    }

    .contact .contact_con .con_left .line {
        width: .6rem;
        margin: .4rem auto;
    }

    .contact .contact_con .con_right {
        width: 100%;
        height: auto;
        float: none;
        padding-left: 0;
        text-align: center;
    }

    .contact .contact_con .con_right .con_title {
        font-size: .2rem;
        line-height: .2rem;
        margin: 0;
    }

    .contact .contact_con .con_right .con_tel {
        font-size: .48rem;
        line-height: .48rem;
        margin: .2rem 0 .1rem;
    }

    .contact .contact_con .con_right .con_time {
        font-size: .2rem;
        line-height: .28rem;
        margin-bottom: .05rem;
    }

    .contact .contact_con .con_right .con_text_title {
        font-size: .2rem;
        line-height: .2rem;
        margin: .4rem 0 .2rem;
    }

    .contact .contact_con .con_right .con_text {
        font-size: .2rem;
        line-height: .32rem;
    }

    .hot-house .separator, .category .hot-house .separator, .contact .hot-house .separator {
        margin-top: .18rem;
    }

}

#boutique-house {
    padding-bottom: 100px;
}
